@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    font-family: Aleo, sans-serif;
    margin: 0 auto;
}

.noselect {
    user-select: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.white-color {
    color: white;
}

/*      pop up      */

.pop-up {
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 12;
    visibility: hidden;
    transition:  0.2s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up__content {
    width: 650px;
    background: linear-gradient(#fff, #8eb5bc);
    transform: translateY(-100px);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem;
    gap: 1.25rem;
    box-sizing: border-box;
    border-radius: 1rem;
}

.form__sign-in {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.pop-up__active {
    transform: translateY(0);
}

.hidden {
    visibility: visible;
    opacity: 1;
}

h4 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #0D606F;
}

.btnPop {
    font-size: 1.25rem;
    padding: 0.75rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Text', arial;
}

.btnPop img {
    margin-right: 1rem;
}

.btnFace {
    background-color: #1877F2;
    color: white;
}

.btnGoogle {
    background-color: white;
}

.btnSign {
    background-color: #0D606F;
    color: white;
    margin-top: .5rem;
}

.pop-up hr {
    border: none;
    border-top: 1px solid #0D606F;
    box-shadow: none;
}

.hr {
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    color: #70a2aa;
}

.hr::before {
    content:'';
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: #0d606f;
    left: 0;
    top: 12px;
}

.hr::after {
    content:'';
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: #0d606f;
    right: 0;
    top: 12px;
}

.inputPop {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    box-shadow: none;
    box-shadow: inset 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
}

.inputPop:focus {
    outline: 2px solid #1877F2;
}

.linkRegister,
.linkForgot,
.linkLogin {
    text-decoration: none;
    text-align: center;
    color: #0D606F;
}

.textToRegister {
    text-align: center;
    color:#0d606f7a;
    margin: 0;
    display: inline;
}

.hide-popup-fields {
    display: none;
}

/*      preview      */

.header__logo {
    font-family: Marga, 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    position: relative;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.header__logo::before {
    content: url(assets/icon/logo.svg);
    position: relative;
    margin-right: 6px;
}

.preview {
    min-height: 37vw;
    padding-bottom: 3rem;
    background: url(assets/img/background-top2.jpg) no-repeat center / cover;
    margin-bottom: 5rem;
}

.header__top {
    background-color: rgba(242, 120, 92, .7);
    padding: 24px 0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.5);

}

.header__nav {
    display: flex;
    gap: 0 42px;
    font-family: 'Red Hat Text';
    font-size: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.header__self-link {
    text-decoration: none;
    color: white;
}


.header__nav a {
    color: white;
    text-decoration: none;
    transition: .2s;
}

.header__nav a:hover {
    opacity: .7;
}

.button__gray {
    font-family: 'Red Hat Text';
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #0D606F;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.button__gray:hover {
    background-color: #0e4f5a;
}

.button__gray:active {
    background-color: #0f3b42;
}

.button__gray--login {
    font-size: 1rem;
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button__gray--top {
    font-size: 1.5rem;
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
    box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
    padding: 14px 33px;
}

.button__icon-arrow {
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    padding: 10px 32px;
    color: white;
    line-height: 2rem;
    margin: 2.5rem 0;
}

.img-icon-arrow {
    vertical-align: middle;
    margin-right: 10px;
}

h1 {
    font-family: Aleo, sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 6rem;
    margin: 2rem 0;
}

.sub-heading {
    font-family: Aleo, sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-style: italic;
    margin-bottom: 46px;
}

.cta-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 18px 18px 40px;
    max-width: 892px;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
}

.cta-top>p {
    font-family: Aleo, sans-serif;
    font-size: 1.5rem;
    color: #F2785C;
    padding: 0;
    margin: 0;
    font-style: italic;
}

.mobile-logos {
    display: none;
}

/*      steps       */

h2 {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 2.5rem;
    color: #F2785C;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.5rem;
}

.steps {
    margin-bottom: 4rem;
}

.steps__three {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    color: #0D606F;
    flex-wrap: wrap;
}

.steps__one-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex-basis: 220px;
    flex-grow: 1;
    margin-bottom: 1rem;
}


.steps__text {
    margin: 0;
    white-space: nowrap;
}


/*      destinations       */

.destinations {

    overflow: hidden;
}

.destinations--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-line {
    display: flex;
    gap: 3vw;
    transition: transform 0.3s;
}

.sliderLeft {
    transform: translate(var(--moveL));
    
}

.sliderRight {
    transform: translate(var(--moveR));
}

.slider-line .sliderMiddle {
    transform: translate(0);
}

.slider-line img {
    display: block;
}

.slider__photo-2,
.slider__photo-3,
.slider__photo-1 {
    position: relative;
}

.bullets {
    display: flex;
    gap: 10px;
    margin-top: 1.5rem;
    cursor: pointer;
}

.bullet {
    fill: #F2785C;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.slider__photo-1::after {
    content: 'spain';
    text-transform: uppercase;
    position: absolute;
    bottom: 3vh;
    left: 1rem;
    display: inline;
    color: white;
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif;
}

.slider__photo-2::after {
    content: 'japan';
    text-transform: uppercase;
    position: absolute;
    bottom: 3vh;
    left: 1rem;
    display: inline;
    color: white;
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif;
}

.slider__photo-3::after {
    content: 'usa';
    text-transform: uppercase;
    position: absolute;
    bottom: 3vh;
    left: 1rem;
    display: inline;
    color: white;
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif;
}

.arrowLeft,
.arrowRight {
    display: none;
}

.slider-line img {
    width: 42vw;
}

/*      stroies       */


.stories__content {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
}

.stories__bg {
    background: url(./assets/img/bg-stories.jpg) no-repeat 50% 0 / cover;

}

.white-bg::after {
    content: '';
    display: block;
    position: absolute;
    /* z-index: -1; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background: white;
}

.stories__bg-filter {
    background-color: rgba(255, 255, 255, 0.7);

}

.stories__node {
    display: flex;
    gap: 40px;
    color: #0D606F;
    align-items: flex-start;
    margin-bottom: 30px;
    max-width: 1200px;
}

@media screen and (max-width:770px) {
    .stories__node {
        flex-direction: column;
    }
}

.stories__node:last-of-type {
    margin-bottom: 0;
}

h3 {
    font-size: 2.25rem;
    margin: 0 0 1.25rem;
    font-weight: 400;
}

.stories__img {
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 1);
    width: 100%;
    max-width: 400px;
}

.stories__text {
    font-size: 1.25rem;
    margin: 0;
}

.stories__read-more {
    color: #0D606F;
    margin: 0;
    padding: 0;
    transition: 0.2s;
}

.stories__read-more:hover {
    color: #0e4f5a;
}

/*      footer       */

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    max-width: 1200px;
    align-items: center;
    justify-items: center;
    padding: 14px 0;
    position: relative;
    margin: 0 auto;
}

.footer__social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer__copyright {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.grid-social-right {
    justify-self: end;
}

.grid-social-left {
    justify-self: start;
}


.adapt-menu {
    display: none;
}


@media screen and (min-width: 391px) and (max-width: 1200px) {
    .wrapper {
        padding: 0 20px;
    }

    .stories__content {
        padding: 40px 20px 0;
    }

    .preview {
        /* min-height: 62vw;
        height: auto; */
        /* padding-bottom: 2rem; */
    }
    html {
        font-size: 12px;
    }

}