@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap');

html {
    scroll-behavior:smooth
}

body {
    padding: 0;
    margin: 0;
    font-family: Aleo, sans-serif;
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.white-color {
    color: white;
}

/*      preview      */

.header__logo {
    font-family: Marga, 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    position: relative;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.header__logo::before {
    content: url(assets/icon/logo.svg);
    position: relative; 
    margin-right: 6px;
}

.preview {
    height: 765px;
    background: url(assets/img/background-top2.jpg) no-repeat center / cover;
    margin-bottom: 80px;
}

.header__top {
    min-height: 90px;
    background-color: rgba(242, 120, 92,.7);
    padding-top: 24px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.5);

}

.header__nav {
    display: flex;
    gap: 0 42px;
    font-family: 'Red Hat Text';
    font-size: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}


.header__nav a{
    color: white;
    text-decoration: none;
    transition: .2s;
}

.header__nav a:hover {
    opacity: .7;
}

.button__gray {
    font-family: 'Red Hat Text';
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #0D606F;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.button__gray:hover {
    background-color: #0e4f5a;
}

.button__gray:active {
    background-color: #0f3b42;
}

.button__gray--login {
    font-size: 1rem;
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button__gray--top {
    font-size: 1.5rem;
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
    box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
    padding: 14px 33px;
}

.button__icon-arrow {
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    padding: 10px 32px;
    color: white;
    line-height: 2rem;
    margin: 2.5rem 0;
}

.img-icon-arrow {
    vertical-align: middle;
    margin-right: 10px;
}

h1 {
    font-family: Aleo, sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    margin: 2rem 0;
}

.sub-heading {
    font-family: Aleo, sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-style: italic;
    margin-bottom: 46px;
}

.cta-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 18px 18px 40px;
    max-width: 892px;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
}

.cta-top>p {
    font-family: Aleo, sans-serif;
    font-size: 1.5rem;
    color: #F2785C;
    padding: 0;
    margin: 0;
    font-style: italic;
}

.mobile-logos {
    display: none;
}

/*      steps       */

h2 {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 2.5rem;
    color: #F2785C;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.steps {
    margin-bottom: 60px;
}

.steps__three {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    color: #0D606F;
    flex-wrap: wrap;
}

.steps__one-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* width: 320px; */
    flex-basis: 320px;
    flex-grow: 1;
}


.steps__text {
    margin:0;
    white-space: nowrap;
}


/*      destinations       */

.destinations {

    /* margin-bottom: 80px; */
    overflow: hidden;
}

.destinations--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    display: flex;
    gap: 60px;
    position: relative;
    overflow: hidden;
    /* margin-top: 10px; */
}

.bullets {
    display: flex;
    gap: 10px;
    margin-top: 1.5rem;
}

.slider__photo-2, .slider__photo-3, .slider__photo-1 {
    position: relative;
    height: 800px;
    width: 800px;
}

.slider__photo-2::after {
    content: 'japan';
    text-transform: uppercase;
    position: absolute;
    bottom: 2.8rem;
    left: 1rem;
    display: inline;
    color: white;
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif;
}
.slider__photo-3::after {
    content: 'usa';
    text-transform: uppercase;
    position: absolute;
    bottom: 2.8rem;
    left: 1rem;
    display: inline;
    color: white;
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif;
}


/*      stroies       */


.stories__content {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
}

.stories__bg {
    background: url(./assets/img/bg-stories.jpg) no-repeat 50% 0 / cover;

}

.white-bg::after {
    content:'';
    display: block;
    position: absolute;
    /* z-index: -1; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background: white;
}

.stories__bg-filter {
    background-color: rgba(255, 255, 255, 0.7);

}

.stories__node {
    display: flex;
    gap: 40px;
    color: #0D606F;
    align-items: flex-start;
    margin-bottom: 30px;
    max-width: 1200px;
}

@media screen and (max-width:770px) {
    .stories__node {
        flex-direction: column;
    }
}

.stories__node:last-of-type {
    margin-bottom: 0;
}

h3 {
    font-size: 35px;
    margin: 0 0 1.25rem;
    font-weight: 400;
}

.stories__img {
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 1);
}

.stories__text {
    font-size: 1.25rem;
    margin: 0;
}

.stories__read-more {
    color: #0D606F;
    margin: 0;
    padding: 0;
}

/*      footer       */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    align-items: center;
    justify-items: center;
    padding: 14px 0;
    position: relative;
    margin: 0 auto;
}

.footer__social-icons {
    list-style: none;
    /* grid-column: 3/4; */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer__copyright {
    /* grid-column: 2/3; */
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.grid-social-right {
    justify-self: end;
}

.grid-social-left {
    justify-self: start;
}