@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', arial, sans-serif;
}

.main {
    background: url("https://raw.githubusercontent.com/wave103x/stage1-tasks/assets/images/morning/02.jpg") no-repeat center / cover;
    height: 100vh;
}

.top-line {
    display: flex;
    padding: 2rem 3rem;
    font-size: 1.25rem;
}

/*      weather         */

.weather {
    margin-left: auto;
    min-width: 15%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.weather-icon {
    filter: invert(100%);
    width: 72px;
}

.city-name {
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
}

/*      audio         */

.audio {
    min-width: 15%;
}




/*      central view         */

.time {
    color: white;
    font-size: 2rem;
}